
@import '../../styles/common';
.container{
    width: 100vw;
    height: 100vh;
    background-color: #ECE8E1;
    display: flex;
    justify-content: center;
 
    
}

.table{
     margin-top: 5%;
    width: 80vw;
}

.form{
    margin-bottom: 18px;
    margin-top: 18px;
    display: flex;
    justify-content: center;
}